@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: white;
  color: black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.646);
  box-shadow: 0 2px 6px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 30px;
  z-index: 111;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .img-logo {
  background-image: url("../img/logo.png");
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}
header nav h1 {
  font-size: 32px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
header nav ul li {
  margin-left: 40px;
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}

header nav ul li a:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ac75f5;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  transform: scale(0);
  transform-origin: left;
  transition: all 0.8s;
}

header nav ul li a:hover:before {
  transform: scaleX(100%);
}

header nav ul li a.active {
  font-weight: 800;
}

header nav ul li a.active:before {
  transform: scaleX(100%);
  height: 2.5px;
}

header .login{
  background-color: #7f00ff;
  padding:6px 16px;
  color:white;
  border-radius: 4px;
}

header .logout{
  color: #ff0037;
  font-size: 25px;
}

section#home {
  background: url("../img/spectrum.png") rgba(0, 0, 0, 0.09);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
}

section#home h1 {
  font-size: 60px;
  position: absolute;
  left: 5%;
  top: 30%;
  color: #ac75f5;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000, 0px 0px 0px #ccc, 0px 0px 1.5px #ccc,
    0px 0px 3px #ccc;

  width: 50%;
}

section#home a {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  background: none;
  padding: 10px 50px;
  position: absolute;
  left: 5%;
  top: 72%;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

section#home a:hover {
  border: 4px solid #ac75f5;
  transform: scale(1.1);
  color: white;
  background-color: #ad75f595;
}
/* About us page design */

section#about {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#about .left {
  width: 60%;
}
section#about .left .heading-about {
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom: 1.4px solid black;
  font-weight: 700;
  padding: 20px 30px;
  margin-left: 50px;
}
section#about .left .heading-about {
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom: 1.4px solid black;
  font-weight: 700;
  padding: 20px 0px;
  margin-left: 50px;
  width: 70%;
}
section#about .left .text-about {
  font-size: 15.5px;
  line-height: 3.3vh;
  margin-left: 50px;
}
section#about .right {
  width: 40%;
  height: 100%;
  background: url("../img/About_us.png");
  background-position: center;
  background-size: cover;
}

/* our wings section */

section#wings {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

section#wings h1 {
  font-size: 30px;
  /* background: linear-gradient(to left, #7f00ff, #e100ff); */
  background: linear-gradient(to left, #7f00ff, #847dfb);
  width: 100%;
  height: 8vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
section#wings .text-wing {
  font-size: 16px;
  line-height: 3vh;
  width: 85%;
  font-weight: 500;
}

section#wings .wing-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 30vh;
  flex-wrap: wrap;
}

section#wings .wing-cards .wing-card {
  width: calc(75% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8000ffbf;
  background: linear-gradient(to right, #8000ff, #847dfb);
  margin: 30px;
  margin-top: 0;
  border-radius: 4px;
  font-size: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}

section#wings h2 {
  font-size: 20px;
  margin-top: 30px;
}

/* Projects section */

section#projects {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

section#projects h1.heading {
  font-size: 30px;
  background: linear-gradient(to left, #7f00ff, #847dfb);
  width: 100%;
  height: 8vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

section#projects .project-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
section#projects .card {
  width: 350px;
  height: 500px;
  background: linear-gradient(to left, #7f00ff, #847dfb);
  color: white;
  border-radius: 8px;
  margin: 30px;
}
.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 350px;
  height: 250px;
  object-fit: cover;
}
.card .card-inside {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

.card .card-inside h1 {
  margin-top: 38px;
  font-size: 20px;
}
.card .card-inside p {
  margin-top: 15px;
  font-size: 14px;
}

.card .card-inside a {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.884);
  background: none;
  padding: 10px 50px;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
  margin-top: 30px;
}

.card .card-inside a:hover {
  border: 4px solid #fcfbfd;
  transform: scale(1.1);
  color: white;
  background-color: #ffffff95;
}

/* Contacts style */

section#contact {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#contact .left {
  width: 60%;
  background: linear-gradient(to right, #4e009b, #847dfb);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

section#contact .right {
  width: 40%;
  height: 100%;
  background: url("../img/FAQ.png");
  background-position: center;
  background-size: cover;
}

section#contact .contact-form {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  width: 50%;
  margin: 0 50px;
}

section#contact .contact-form h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.3rem;
}

section#contact label span {
  font-size: 0.6rem;
  font-family: MontserratLight;
  font-style: italic;
  margin-left: 8px;
}

section#contact input,
button,
textarea {
  width: 100%;
  padding: 10px;
  border: 1.2px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: horizontal;
  background: none;
  color: white;
  font-size: 1rem;
}

section#contact button[type="submit"],
section#contact button[type="reset"] {
  width: 25%;
  background-color: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 6px 0 0;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#contact button[type="submit"]:hover {
  background-color: #45a049;
}

section#contact button[type="reset"]:hover {
  background-color: #d65252;
}

/* Footer section */

footer {
  width: 100%;
  height: 55vh;
  background-color: rgb(72, 49, 103);
  color: white;
  position: relative;
}

footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 30px;
}
footer .social-media i {
  color: white;
  margin: 40px 40px 30px 0;
}

footer .copyright {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
}

footer .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
}
footer .links div {
  position: relative;
  width: calc(100% / 5);
  height: 100%;
}
footer .links div div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  line-height: 1.6;
  font-size: 15px;
}
footer .links div div i {
  margin-right: 10px;
}
footer .links h3 {
  border-bottom: 2px solid #9676b6;
  padding-bottom: 5px;
  width: 60%;
}

footer .links a {
  margin: 7px 0;
  color: white;
  text-decoration: none;
}

/* login */
#login{
 background:#847dfb;
 color:white;
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login.register{
  height: 110vh;
}
#login .login{
  width: 30%;
}

#login .login h1{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}
#login form {
  border: 3px solid rgb(250, 247, 247);
  padding: 10px 0px 0 0;
}
#login .imgcontainer{
  font-size: 30px;
  position: relative;
  color:#000;
  z-index: 111;
}

#login .imgcontainer::before{
  content: '';
  position: absolute;
  left: 50%;
  top:50%;
  width: 80px;
  height: 80px;
  background: rgba(250, 248, 251, 0.775);
  transform: translate(-50%,-50%);
  z-index: -1;
  border-radius: 50%;
}
/* Full-width inputs */
#login input[type=text], input[type=password] ,input[type="date"],select {
  width: 100%;
  padding: 7.5px 17px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: rgba(228, 223, 223, 0.836);
  box-sizing: border-box;
}
.ipFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ipFlex div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* Set a style for all buttons */
.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login button[type=reset] {
  background-color: #f44336;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
}
#login button[type=submit]{
  background-color: #26d841;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
}

/* Add a hover effect for buttons */
#login button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
#login .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #5742cc;
}

/* Center the avatar image inside this container */
#login .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



/* Add padding to containers */
#login .container {
  padding: 16px;
}

/* The "Forgot password" text */
#login span.signuplink {
  float: right;
  padding-top: 16px;
  color:black
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.signuplink {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.msg{
  width:800px;
  height:50px;
  background-color: #5742cc;
  color:white;
  font-size: 20px;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:10%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:0 30px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.231);
}


/* profile */

section#profile{
  width: 100%;
  height: 100vh;
  background-color: #8000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#profile .profileh1{
  margin-bottom: 30px;
  font-size: 40px;
  color:white;
}
#profile .profile{
  color:#8000ff;
  width: 45%;
  height: 70%;
  background: rgba( 255, 255, 255, 0.75 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.0px );
  -webkit-backdrop-filter: blur( 11.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px 50px;
}

#profile .back{
  position: absolute;
  left:5%;
  top:10%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  cursor: pointer;
  color:white;
  display: flex;
  justify-content: center;align-items: center;
}

#profile .profile .header{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #5742cc;
}

#profile .profile .header i{
  font-size: 40px;
  color:white;
  background-color: #8000ff;
  border-radius: 50%;
  padding: 35px 38px;
  border: 2px solid white;
}

#profile .profile .header h1{
  margin-right: 40px;
  font-size: 30px;
}
#profile .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#profile .profile .container h3{
  margin-top: 30px;
  width: 100%;
}